.register_div{
    
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;

}
.btn{
    width: 100px;
    height: 30px;
    font-weight: 100;
    font-size: 15px;
    font-family: fantasy;
    border-radius: 5px;
    background-color: rgba(80, 26, 206, 0.946);
    color: white;
    font-size: large;
}
.btn:hover{
     background-color: rgba(9, 9, 9, 0.946);
    color: white;
    transition: 1s;
    cursor: pointer;
    border-radius: 50px;
}